/*debug*/



/*REGOLE GENERALI*/
img {
  height: 250px;
}

/*REGOLE HEADER E NAVBAR*/
.style-header {
  background-color: #1ABC9C;
}

.style-nav {
  background-color: #2C3E50;
  text-transform: uppercase;
}

 .style-nav .navbar-header > .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin: 25px 0;
}

.style-nav .navbar-nav {
 margin: 25px 0;
}

.style-nav .navbar-nav > li > a {
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 font-weight: 700;
 color: white;
}

.start {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}

#avatar{
  margin-top: 5%;
}

.start h1 {
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  padding-top: 2%;
}

.start .glyphicon {
  padding: 2% 0;
  font-size: 40px;
}

.start h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5%;
}

/*SEZIONE PORTFOLIO*/
.sez-portfolio-style {
  color: #2C3E50;
  text-align: center;
  margin-top: 5%;
}

.sez-portfolio-style h2 {
  background-color: white;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.sez-portfolio-style .glyphicon {
  font-size: 40px;
  padding: 2% 0;
}

.sez-portfolio-style .img-responsive {
  margin-top: 30px;
  border-radius: 10px;
}
